body {
  text-align: center;
  background-color: #26282b;
}

#level-title1 {
  font-family: 'Press Start 2P', inherit;
  font-size: 1rem;
  margin:  2%;
  color: #FEF2BF;
}

#level-title2 {
  font-family: 'Press Start 2P', fantasy;
  font-size: 1rem;
  margin:  2%;
  color: #FEF2BF;
}

/*
.container {
  display: block;
  width: 50%;
  margin: auto;
}
*/
.btn {
  margin: 10px;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 5px solid #000000;
  border-radius: 30%;
}


.footer {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.4rem;
  margin:  4%;
  color: #639cd9;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #ef4f4f;
}

.green {
  background-color: #00af91;
}

.blue {
  background-color: #0f3057;
}

.yellow {
  background-color: #f8dc81;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}



a{
  color: white;
}
